
body, html{
    height: 100%;
    width: 100%;
}
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Imbue', serif;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-image: url('../assets/strega_nona.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

section {
    padding: 40px;
    margin: 40px;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .6);
    border: solid 5px rgb(97, 71, 47);
    border-radius: 12px;
    font-size: 1.5rem;
}

#input{
    position: relative;
}

input{
    margin: 10px;
}

label{
    margin: 10px;
    color: rgb(74, 101, 55);
}

#output{
    display: none;
    color: rgb(74, 101, 55);
}

#submit-button{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background: rgb(235, 215, 215);
    border-color: rgb(97, 71, 47);
    font-family: 'Imbue', serif;
    font-weight: 100;
    font-size: 1.5rem;
    color:rgb(74, 101, 55);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e47438;
    background-color: rgb(235, 215, 215);
    font-size: 2rem;
    text-align: center;
    height: 100px;
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

.gutter-right {
    margin-right: 20px;
}
 
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

/* this is a test */